@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');

:root{
    /* --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%); */
    /* --background: linear-gradient(180deg, #02152b41 100%, #02152B 0%); */
    --background: linear-gradient(180deg, #02152b56 0%, #02152b00 100%);

    --color-primary: #667eea;
    --color-secondary: #8000ff;
    --boton-padding: 20px 40px;

}

body{
    font-family: 'Raleway', sans-serif;
}

.container{
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    /* padding: 80px 0; */
    max-width: 1200px;
}

.subtitle{
    color: var(--color-primary);
    font-size: 2,5rem;
    margin-bottom: 35px;
}

/* NEW MENU */

.header-area {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10; 
}
/* 
.header-area .header-menu-wrapper {
        color: #293347;
        padding-top: 20px;
        padding-bottom: 20px; } */
/*         
.header-area .header-menu-wrapper .main-menu-wrapper .main-menu-content nav ul li {
            display: inline-block;
            text-transform: uppercase;
            padding-top: 15px;
            padding-right: 23px;
            position: relative; } */

.header-area .header-menu-wrapper.activate {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
    -moz-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
    box-shadow: 0 0 40px rgba(82, 85, 90, 0.1); }

    .header-area .header-menu-wrapper.activate:after {
    height: 100%; }

    .header-area .header-menu-wrapper:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #293347;
    z-index: -1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
                        

/* END NEW MENU */


/* MENU ITEMS */

/* nav{
    background: #293347;
    height: 80px;
    width: 100%;
} */

.enlace{
    position: absolute;
    padding: 20px 0px;
    z-index: 10;
}

.logo{
    height: 40px;
}

.checkBtn{
    position: relative;

    /* font-size:0px; */
    color: #fff;
    float: right;
    line-height: 10vh;

    
    /* display: grid; */
    /* align-content: center; */
    text-align: center;

    cursor: pointer;
    z-index: 11;
    display: none;
}

.menu{
    align-content: center;
    margin-top: 20px;
    height: 40px;
}

nav{
    height: 80px;
}

nav ul{
    float: right;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #fff;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.header-area nav li a.active, li a:hover{
    background: rgb(92, 149, 255);
    border-radius: 15px;
    color: #293347;
    transition: .5s;
}



#check{
    display: none;
}



/* END MENU ITEMS */

.hero{
    height: 110vh;
    /* background-color: black; */
    background-image: var(--background), url('../assets/img/LaPaz.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.hero .container{
    padding: 0;
}

.menu{
    width: 90%;
}

.nav{   

    display: flex;
    position: fixed;
    justify-content: flex-end;
    width: 100%;
    height: 70px;
    /* padding-right: 30px; */
    align-items: center;
    /* font-weight: 700; */
    z-index: 1;

}

/* EL EFECTO QUE SE HACE CUANDO SE BAJA EL SCROLL */

.nav.activate{
    background-color: #293347;
    padding-top: 12px;
    padding-bottom: 12px;
}

.nav--footer{
    font-weight: 300;
    justify-content: flex-start;
    /* text-align: center; */
}

.nav__items{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
}

.nav__items--cta{
    border: 1px solid #fff;
}

.nav__items--footer{
    padding: 10px;
}

.hero__container{
    display: flex;
    /* height: calc(100vh - 70px); */
    height: 100vh;
    align-items: center;
    color: #fff;
}

.hero__texts{
    width: 80%;
    margin-bottom: 0px;
}

.hero__title{
    font-size: 70px;
}

.hero__subtitle{
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
}

.hero__cta{
    display: inline-block;
    background: #fff;
    padding: var(--boton-padding);
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 40px;    
}

.hero__wave{
    position: absolute;

    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}
/* OTHER SVG */

.hero .hero-svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px; }
    .hero .hero-svg svg {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 190px;
      width: 100%;
      stroke: none;
      fill: #02152B; }

    
/* ABOUT */

/* .presentation{
    padding-top: 0;
    padding-bottom: 80px;

    text-align: center;   
}

.presentation__picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: top;
}

.presentatio__copy{
    width: 80%;
    margin: 0 auto;
}

.presentatio__cta{
    display: inline-block;
    margin-top: 30px;
    background: var(--color-primary);
    color: #fff;
    text-decoration: none;
    padding: var(--boton-padding);
    border-radius: 40px;
} */






/* ------------- NEW ABOUT ------------- */

.presentation{
    background: #02152b;
    padding-top: 0;
    padding-bottom: 130px;
}

.presentation .grid-containerP{
    display: grid;
    max-width: 1170px;
    
    grid-template-columns: auto;
    grid-template-rows: auto auto;

    grid-template-areas: 
    '1'
    '2';
}

.presentation .grid-containerP div{
    /* background-color: midnightblue; */
    color: white;
    /* border: 1px solid rgb(161, 220, 235); */
}

.item1{
    grid-area: 1;
}

.presentation .grid-containerP .item2{
    grid-area: 2;
    margin-top: 72px;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    'img img img img img desc desc desc desc desc desc desc'
    'img img img img img info info info info info info info';
}

.presentation .grid-containerP .item2 .img{
    grid-area: img;
    /* background-color: red; */
}

.presentation .grid-containerP .item2 .desc{
    grid-area: desc;
    padding: 0 15px;
    /* height: max-content; */
    /* background-color: rgb(70, 180, 134); */
}


.presentation .grid-containerP .item2 .info{
    grid-area: info;
    
    display: grid;
    grid-template-columns: auto 130px;
    grid-template-areas: 
    'info1 info2';

    padding: 0 15px;
    /* background-color: rgb(87, 100, 11); */
}


.presentation .grid-containerP .item2 .desc .my-content{
    padding: 0 15px;
}

.presentation .grid-containerP .item2 .info .info__personal{
    padding-left: 15px;
    

    grid-area: info1;
    /* background-color: rgb(233, 72, 219); */
    margin-bottom: 30px;
}

.presentation .grid-containerP .item2 .info .info__redes{
    padding-right: 15px;
    width: 100%;

    grid-area: info2;
    /* background-color: rgb(0, 159, 187); */
    margin-bottom: 30px;
    
    /* width: 130px; */
}



/* .presentation .grid-containerP .item2 .info .info__personal{
    grid-area: info1;
    background-color: rgb(233, 72, 219);
    margin-bottom: 30px;
} */
/* 
.presentation .grid-containerP .item2 .info .info__redes{
    grid-area: info2;
    background-color: rgb(0, 159, 187);
    margin-bottom: 30px;
} */

/*  */


.presentation .grid-containerP .text__header{
    text-align: center;
}
.presentation .grid-containerP .text__header p{
    margin-bottom: 8px;

    font-size: 16px;
    color: #dadada;
    font-weight: 500;
}

.presentation .grid-containerP .text__header div{
    color: white;
    /* border: 1px solid rgb(161, 220, 235); */
}

.presentation .grid-containerP .text__header h2{
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 45px;
    color: #ffffff;
    font-weight: 700;
}

.presentation .text__header .divider{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 2px;
    background-color: #293347;
}

.presentation .text__header .divider1{
    transform: scale(0.9);
}

.presentation .text__header .divider2{
    transform: scale(0.7);
    background-color: #28d5a7;
}

.presentation .text__header .divider3{
    transform: scale(0.5);
    background-color: #f9b851;
}

/* IMAGEN */

.presentation .item2 .img{
    padding: 0 15px;
}

.presentation .item2 .img .about-img{
    text-align: center;
    z-index: 1;
}

.presentation .item2 .img .about-img img{
    width: 100%;
    /* height: 100%; */
    /* min-height: 200px; */
    /* max-height: 420px; */
    border-radius: 20px 0 20px 20px;
    vertical-align: middle;
}

/* TITULO */

.presentation .item2 .desc .my-item1{
    margin-bottom: 30px;
}

.presentation .item2 .desc h4{
    font-size: 24px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 4px;
}

.presentation .item2 .desc .my-item2{
    margin-bottom: 30px;
    height: max-content;
}

.presentation .item2 .desc .my__desc{
    font-size: 16px;
    color: #ebebeb;
    font-weight: 500;
    line-height: 28px;
}

/* INFORMACIÓN PERSONAL */


.presentation .item2 .info .my-info{
    margin-top: 15px;
}

.presentation .item2 .info .info__personal .my-infoCol1{
    margin-right: 30px;
}

/* TITULO Informacion Personal */

.presentation .item2 .info .my-info .my-title2{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 27px;
    color: #7ccdff;
    font-weight: 700;
}

/* Titulo de subtitulo */

.presentation .item2 .info .my-info .my__list span label{
    color: #7ccdff;
    display: inline-block;
    width: 85px;
}


/* Descripcion */

.presentation .item2 .info .my-info .my__list li{
    border-bottom: 1px solid #f9f6f6;
    margin-bottom: 9px;
    padding-bottom: 9px;
    list-style: none;
}

.presentation .info .info__personal .my__list li:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
}

.presentation .info .info__personal .my__list li span, .iconRedes{
    font-weight: 600;
    font-size: 15px;
}

.presentation .info .info__personal .my__list li span a, .iconRedes{
    color: white;
    text-decoration: none;
}


.presentation .info .info__personal .my__list li span a:hover, .iconRedes:hover{
    background-color: transparent;
    color: #7ccdff;
}

/* REDES CREO */

.presentation .item2 .info .info__redes .my__list{
    padding-left: 0;

}

.presentation .item2 .info .info__redes .my__list li{
    border-bottom: 1px solid #00000000;
}

/* icon */

.presentation .item2 .info .info__redes .my__list li a i{
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 3px;
    text-align: center;
    background-color: #8C43FF;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}




/* END ABOUT  */

.about{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap:80px;
    padding: 80px 0;
    justify-items: center;
    align-items: center;
}

.about__img{
    text-align: center;
}

.about__img--left{
    text-align: left;
}

.about__picture{
    max-width: 80%;
}

.about__paragraph{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
}



/* MIS PROYECTOS */



.projects{
/* background: #f2f2f2; */
    background-image: var(--background), url('../assets/img/FondoFrases.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    z-index: 1;

    padding: 80px 0;
    padding-bottom: 150px;
}

.projects::before{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #02152bb4;
    z-index: -1;
}

.projects .subtitle{
    font-size: 45px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 41px;
}

.projects .container .docente{
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin: 25px 0;
}


.projects .radius-divider{
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 80px;

    /* border: 1px solid rgb(161, 220, 235); */
}

.projects .radius-divider .divider{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 2px;
    background-color: #293347;
}

.projects .radius-divider .divider1{
    transform: scale(0.9);
}

.projects .radius-divider .divider2{
    transform: scale(0.7);
    background-color: #28d5a7;
}

.projects .radius-divider .divider3{
    transform: scale(0.5);
    background-color: #f9b851;
}


/* .projects .card{
    border-radius: 72px;
    background: #ffffff;
    box-shadow:  -15px -15px 30px #b8b8b8,
             15px 15px 30px #ffffff;
} */

.projects .card{
    margin: auto;

    width: 94%;
    height: 300px;
    display: flex;
    /* justify-content: center; */
    overflow: hidden;
    background-color: #293855;
    /* box-shadow: 0 5px 10px #033f49; */
    box-shadow: 0 0 4px 5px #ffffff57;
    border-radius: 10px;
    transition: 0.1s;
    margin-bottom: 50px;
    /* border: 7px solid rgb(151, 142, 142); */
    /*  */
    /* flex-direction: row-reverse; */
    /*  */
}

.projects .card:hover{
    transform: scale(1.02);
    box-shadow: 0 0 15px 6px #acf5ff;
}

.projects .card .img-card{
    /* TODO: Esta imagen de la tarjeta se debe poner desde html // Asi tambien se debe poder cambiar el color a elección*/
    background: url(https://drive.google.com/uc?export=download&id=1YSgJtgmTEGisNF7OXftvaoz6lJMNmNMO);

    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.projects .card .content{
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-rows: 25px auto 50px;
    padding: 35px 30px;
    text-align: center;
}

/* .card .content .title{
    height: 100%;
} */

.projects .card .content .text span{
    color: #71d3ff;
    font-weight: bold;
    font-size: 25px;
}

.projects .card .content .title span{
    color: #ffffff;
    font-size: 25px;
    margin: auto;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.projects .card .content .text{
    margin: auto;
}

.projects .card .content .text p{
    color: rgba(0, 0, 0, 0,6);
    font-size: 15px;
}

.projects .card .content .btn-container button{
    background: #ff6424e8;
    width: 80%;
    height: 100%;
    padding: 5px 10px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    border: none;
}

.projects .card .content .btn-container button:hover{
    background: #fff;
    color: #ff6424e8;
    
    transition: .4s;
}










/* TESTIMONIOS */

.testimony{
    /* height: 110vh; */
    /* background-color: black; */

    /* background-image: var(--background), url('../assets/img/FondoFrases.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    z-index: 1; */


    /* background: linear-gradient(180deg, #0074f856 0%, #00000000 100%); */
    background: radial-gradient(farthest-corner at 305px 117px, #0d0825 15%, #3f51b5 95%)
}

/* .testimony::before{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #02152bb4;
    z-index: -1;
} */

.testimony .container{
    padding: 80px 0;
}


.testimony__grid{
    width: 100%;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.testimony__item{
    width: 95%;
    margin: 0 auto;
    /* background: var(--color-secondary); */
    /* background: #305399; */
    background: rgb(255 255 255 / 24%);
    box-shadow: 0 8px 10px rgba(66,66,66, .5);
    border-radius: 7px;
    padding: 30px 25px;
    color: #fff;
    margin-bottom: 50px;
}

.testimony__person{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.testimony__review{
    font-size: 25px;
}

.testimony__img{
    width: 100px;
    min-width: 100px;
    height: 100px;
    object-fit: cover;
    /* object-position: top; */
    border-radius: 50%;
    border: 3px solid #fff;
    margin-right: 30px;
}

.testimony__name{
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.testimony__verification{
    color: #E0AFA0;
    font-weight: 700;
}

.testimony__review{
    font-weight: 300;
}

/* FOOTER */

/* .footer{
    background: var(--color-primary);

    padding-top: 101px;
    padding-bottom: 60px;
}

.footer__grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
}

.footer__title{
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}

.footer__icons{
    display: flex;
    justify-content: space-evenly;
}

.footer__container-icons{
    display: inline-block;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
}

.footer__icon{
    color: inherit;
    font-size: 30px;
    text-decoration: none;
}

.fab.footer__icon{
    line-height: 60px;
} */

/* FOOTER NEW */

.footer{
    /* background: var(--color-primary); */
    background: #0D0825;

    padding-top: 101px;
    padding-bottom: 60px;
}

.grid-container{
    display: grid;
    /* background-color: #272727; */

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 180px 60px 85px;

    grid-template-areas: 
    'logo item2 item3 item4'
    'line line line line'
    'copy copy copy copy';

    align-content: center;
}

.grid-container div{
    /* background-color: midnightblue; */
    /* text-align: center; */
    color: white;
    /* padding: 10px; */
    /* border: 1px solid rgb(161, 220, 235); */
}

.logo__footer{
    
    display: absolute;
    align-content: unset;
    padding: 0 10px;
    grid-area: logo;
}

footer p{
    grid-area: texto;
    margin-top: 22px;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.5;
}

.foot__links{
    display: flex;
    padding: 0;
    margin-top: 30px;
}

.foot__links li{

    list-style: none;
    margin-right: 3px;
}

.foot__links li a{
    /* background-color: #293347; */
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.24);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.item2{
    grid-area: item2;
    padding: 0 15px;
}

.footer .footer-item{
    color: #0D0825;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    padding: 40px 10px 20px 10px;
    height: 100%;
}

.footer .footer-item .foot-icon {
    font-size: 30px;
    color: #ED662F;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #ffffff;
    position: absolute;
    transform: translateX(-50%);
    margin-top: -70px;
    border-radius: 50%;
    box-shadow: 0 10px 40px rgba(82, 85, 90, 0.486);
    
    transition: all 0.3s;
}

.footer .footer-item .foot-icon:hover {
    color: #ffffff;
    background: #ED662F;
}


.footer .footer-item .footer__title {
    margin: 15px 0;
    font-size: 18px;
    font-weight: 500;
}

.footer .footer-item .footer__desc {
    font-size: 16px;
    font-weight: 500;
}

.footer .footer-item .footer__desc a{
    color: #293347;
    text-decoration: none;

}




.item3{
    grid-area: item3;
    padding: 0 15px;
}

.item4{
    grid-area: item4;
    padding: 0 15px;
}

.item5{
    grid-area: line;
    /* z-index: 5; */
}

.footer .grid-container .footer__line{
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.24);

    height: 1px;
}

.item6{
    grid-area: copy;
}

.footer .copy-right {
    text-align: center;
    color: #f6f8f9;
    /* font-weight: 500; */
    /* position: relative; */
    /* margin-top: 50px; */
    padding-top: 60px;
}

.footer .copy-right .copy__desc{
    margin: 0;
    font-size: 13px;
}



/* END FOOTER NEW */

/* RESPONSICE DESIGN */

@media screen and (max-width: 1270px){
    footer p{
    margin-top: 12px;
    }

    .foot__links{
        margin-top: 15px;
    }    
}


@media screen and (max-width: 1000px){

    .grid-container{

    grid-template-columns: auto auto auto;
    grid-template-rows: 200px 180px 60px 85px;


    grid-template-areas: 
        'logo logo logo'
        'item2 item3 item4'
        'line line line'
        'copy copy copy';
    }

    /* 100PX */

    /* .presentation .item2{
        margin-top: 72px;
    
        grid-template-rows: auto auto;
        grid-template-areas: 
        'img img img img img desc desc desc desc desc desc desc'
        'x x grid grid grid grid grid grid grid grid x x';
    } */

    .presentation .grid-containerP .my-content .my-item3{
        display: grid;
        /* grid-template-columns: auto 130px;
        grid-template-areas: 
        'info1 info2'; */
    }

    /* ABOUT SECTION */

    .presentation .grid-containerP .item2{
        /* grid-area: 2;*/
        /* margin-top: 72px; */
        /* padding: 0; */
        /*
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
        grid-template-rows: auto auto;
        grid-template-areas: 
        'img img img img img desc desc desc desc desc desc desc'
        'info info info info info info info info info info info info';
    }

    .presentation .item2 .img .about-img img{
        max-height: 300px;
        width: auto;
    }

    .presentation .grid-containerP .item2 .desc{
        display: flex;
        align-items: center;
    }

    .presentation .grid-containerP .item2 .info .info__personal{
        padding-top: 30px;
        padding-left: 0;
    }

    .presentation .grid-containerP .item2 .info .info__redes{
        padding-top: 30px;
    }

    .presentation .grid-containerP .item2 .info{
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        grid-template-areas: 
        'info1'
        'info2';
    }
    .presentation .item2 .info .info__redes .my__list{
        display: flex;
        justify-content: center;
        /* text-align: center; */
    }

    .presentation .item2 .info .info__redes .my__list li{
                padding: 0 20px;
        /* display: contents;
        width: 100px;
        margin-right: 0;*/
    }

    .presentation .item2 .info .my-info .my-title2{
        text-align: center;
    }

    .presentation .item2 .info .info__personal .my-infoCol1{
        margin-right: 0;
        padding: 0 50px;
    }
    

    /* END ABOUT SECTION */



    /* UNIDADES DE FORMACION */

    .projects .card{
        display: grid;
        height: auto;
    }

    .projects .card .img-card{
        width: 100%;
        height: 230px;
        /* height: 230px; */
    }

    .projects .card .content{
        width: 100%;
        grid-template-rows: 25px auto 50px;

    }

    .projects .card .content .text{
        margin: 50px 0;
    }

    .projects .card .content .text span{
        color: #026e5e;
        font-weight: bold;
        font-size: 25px;
        
    }

    /* END UNIDADES DE FORMACION */

}


@media screen and (max-width:800px){
     :root{
        --boton-padding: 18px 40px;
     }

     /* MENU */

     .checkBtn{
        display: block;
    }

    ul{
        position: fixed;
        /* width: 100%; */
        width: 300px;
        height: 100vh;
        background: #293347;
        top: 0px;
        left: -100%;
        display: grid;
        align-content: center;
        /* text-align: center; */
        transition: all .5s;
    }

    nav ul li{
        display: grid;
        float: left;
        margin: 5px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    li a:hover, li a.active{
        background: none;
        color: red;
    }

    #check:checked ~ ul{
        left: 0;
    }

     /* END MENU */

     .nav{
        justify-content: space-around;
     }
     
    .nav__items--cta{
        border: none;
    }

     .nav__items{
        font-weight: 400;
        border-bottom: 1px solid #fff;
        margin-right: 0;
     }

     .nav__items--footer{
        border: none;
     }

     .hero__texts{
        width: 100%;
        margin-bottom: 80px;
     }

     .hero__title{
        font-size: 2.5rem;
        
     }

     .hero__subtitle{
        font-size: 1.5rem;

     }

     /* ABOUT */

     .presentatio__copy{
        width: 100%;
     }

     .about{
        grid-template-columns: 1fr;
     }

     .about.container{
        padding-top: 30px;
     }

     .about__img--left{
        text-align: center;
     }

     .about__texts:last-child{
        grid-row: 3/4;
     }

     /* MY PROJECTS */
     
     .projects__grid{
         grid-template-areas: 
         "img1 img1 img2 img2"
         "img1 img1 img3 img3"
         "img4 img4 img5 img5";
        }

    /* TESTIMONY */

    .testimony__grid{
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .testimony__item{
        margin-bottom: 30px;
    }
    
    /* FOOTER */
    /* .footer__grid{
        grid-template-columns: 1fr;
    }

    .footer_contact{
        grid-row: 1/2;
    } */

    /* NEW FOOTER */
    .grid-container{

        grid-template-columns: auto auto;
        grid-template-rows: 200px 180px 180px 60px 85px;
        
        grid-template-areas: 
            'logo logo'
            'item2 item3'
            'item4 vacio'
            'line line'
            'copy copy';
    }

    .logo__footer{
        /* background-color: #ffffff; */
    }

    

    .item4 {
        margin-top: 5px;
    }

}

@media screen and (max-width: 680px){
    .presentation .grid-containerP .item2{
        /* grid-area: 2;*/
        /* margin-top: 72px; */
        /* padding: 0; */
        /*
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
        grid-template-rows: auto auto;
        grid-template-areas: 
        'img img img img img img img img img img img img'
        'desc desc desc desc desc desc desc desc desc desc desc desc'
        'info info info info info info info info info info info info';
    }

    .presentation .item2 .desc h4{
        margin-top: 50px;
    }
}

@media screen and (max-width: 570px){
    .presentation .item2 .info .info__redes .my__list{
        display: grid;
    }

    .presentation .item2 .info .info__redes .my__list li{
        padding: 10px 20px;
    }
}

/* RES NEW FOOTER */
@media screen and (max-width: 560px){

    .grid-container{

    grid-template-columns: auto;
    grid-template-rows: 200px 195px 195px 195px 60px 85px;

    grid-template-areas: 
        'logo'
        'item2'
        'item3'
        'item4'
        'line'
        'copy';
    }

    .item3 {
        margin-top: 5px;
    }

    .logo-footer{
        text-align: center;
    }

    .foot__links{
        justify-content: center;
    }

}
/* END RES NEW FOOTER */

@media screen and (max-width: 543px){
    .grid-container{
    grid-template-rows: 225px 195px 195px 195px 60px 85px;
 }    
}

@media screen and (max-width: 500px){
    :root{
        --boton-padding: 18px 35px;
    }

    .subtitle{
        font-style: 2rem;
        margin-bottom: 20px;
    }

    .nav{
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 10px;
    }

    .nav__items{
        padding: 0 10px;
        border: 0;
    }

    .hero__texts{
        text-align: center;
        margin-bottom: 100px;
    }

    .hero__title{
        font-size: 2rem;        
    }

    /* ABOUT */

    .presentation__picture{
        width: 120px;
        height: 120px;
    }

    .about{
        row-gap: 60px;        
    }

    .about.container{
        padding-top: 10px;
    }

    .about__texts{
        text-align: center;
    }

    .presentation .item2 .desc h4{
        text-align: center;
    }

    .presentation .item2 .info .info__personal .my-infoCol1{
        padding: 0;
    }

    /* MY PROJECTS */

    .projects__grid{
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5";
        height: auto;
        grid-template-rows: repeat(5, 250px);
        grid-auto-rows: 250px;
        gap: 10px
    }

    /* TESTIMONY */

    .testimony__item{
        padding: 30px 15px;
    }

    .testimony__person{
        flex-direction: column;
        
    }

    .testimony__texts{
        text-align: center;
    }

    .testimony__img{
        margin: 0;
        margin-bottom: 20px;
    }

    .testimony__review{
        text-align: center;
    }

}

